@font-face {
    font-family: 'Work Sans';
    src: url('subset-WorkSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Work Sans';
    src: url('subset-WorkSans-ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Work Sans';
    src: url('subset-WorkSans-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Work Sans';
    src: url('subset-WorkSans-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Work Sans';
    src: url('subset-WorkSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Work Sans';
    src: url('subset-WorkSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Work Sans';
    src: url('subset-WorkSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Work Sans';
    src: url('subset-WorkSans-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Work Sans';
    src: url('subset-WorkSans-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: block;
}

